<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Editor Features</h2>
                <hr class="divider">
            </div>
        </div>
    </div>
    <div class="container">
         <div class="row">
            <!-- Editor features description -->
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <div class="service-box">
                  <!-- Search -->
                  <h3 class="light"> <i class="fa fa-search"></i>&nbsp&nbspSearch </h3>
                  <p>
                    Search YouTube's video database with filters for duration, sorting 
                    by date and relevance, and search history.  
                  </p>
                  <!-- Player -->
                  <h3 class="light"> <i class="fa fa-tv"></i>&nbsp&nbspPlayer </h3>
                  <p>
                    Cyclops embeds are just a light wrapper around a YouTube player instance, driven by YouTube's
                    own javascript API. This means your video edit gets served with the same speed and reliability
                    as any YouTube video.
                  </p>
                  <!-- Seek -->
                  <h3 class="light"> <i class="fa fa-step-forward"></i>&nbsp&nbspSeek </h3>
                  <p>
                    Jump to any location in the video by clicking the player timebar. Drag the rangefinder's handles 
                    to 'scrub' through the video, looking for the scene you want.
                  </p>
                  <!-- Seek -->
                  <h3 class="light"> <i class="fa fa-chevron-right"></i>&nbsp&nbspSet </h3>
                  <p>
                    Use the startpoint and endpoint setters to make micro adjustments to the beginning and end of your
                    clip. Set clip boundaries as the video plays using the quickset buttons.
                  </p>
                  <h3 class="light"> <i class="fa fa-sliders"></i>&nbsp&nbspPlayback </h3>
                  <p>
                    Set your clip's playback speed and sound level. 
                  </p>
                  <h3 class="light"> <i class="fa fa-code"></i>&nbsp&nbspPublish </h3>
                  <p>
                    Generate a link or an iframe snippet for your clip and post or embed it in your page. See the Twitter
                    guide below for help with links, and the Tumblr guide for help with iframes.  
                  </p>
                </div>
            </div>
            <!-- Embeditor App Screenshot -->
            <div class="col-lg-8 col-sm-8 hidden-xs text-center">
                <div class="service-box">
                    <img src="../img/embeditor_ss.png" class="img-responsive"/> 
                </div>
            </div>
        </div>
    </div>
</section>