
 <div class="jumbotron jumbo_top">
    <div class="container">
        <div class="row">   
          <br>
          <p class="larger">
             A Free Online YouTube <br class="hidden-xs"> Video Editor Utility.
          </p>
          <p>  Cut, loop and re-publish any YouTube Video instantly. <br class="hidden-xs"></p>
          <li class="light"> No video file uploading or downloading </li>
          <li class="light"> Precision frame search and loop timing </li>
          <li class="light"> Whitelisted to play in the Twitter feed </li>
          <li class="light"> Minimalist, responsive player </li>
          <br> 
          <a href="https://github.com/animist-io" class="btn btn-primary bg-youtube btn-xl page-scroll hidden-xs">
            <i class="fa fa-tv fa-2x"></i> 
            <span class="github-text"> &nbsp &nbsp START EDITING </span>
          </a>
       </div>
    </div>
 </div>
