
 <div class="jumbotron jumbo_top">
    <div class="container">
        <div class="row">   
          <br>
          <p class="larger">
            YouTube Video Editor Utility.
          </p>
          <p>  Cut, loop and re-publish any YouTube Video instantly. <br class="hidden-xs"></p>
          <li class="light"> No uploading or downloading video files</li>
          <li class="light"> Precision loop timing (50ms resolution)</li>
          <li class="light"> Whitelisted to play in the Twitter feed </li>
          <li class="light"> Clean, mobile ready embeds </li>
          <li class="light"> Free, online, open source. </li>
          <br> 
          <a href="https://github.com/animist-io" class="btn bg-youtube btn-xl page-scroll hidden-xs">
            <i class="fa fa-tv fa-2x"></i> 
            <span class="github-text"> &nbsp &nbsp START EDITING </span>
          </a>
       </div>
    </div>
 </div>
