<section id="twitter">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Twitter Guide</h2>
                <hr class="divider">
            </div>
        </div>
    </div>
    <div class="container">
         <!-- Text -->
         <div class="row">
           
            <div class="col-lg-6 col-sm-6 col-xs-6">
                <div class="service-box narrower">
                  <!-- Tweet -->
                  <h3 class="light"> <i class="fa fa-twitter"></i>&nbsp&nbspTweet</h3>
                  <p>
                    Click "tweet" to open a share dialog with a link to your edit. 
                  </p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="service-box narrower">
                  <!-- Watch -->
                  <h3 class="light"> <i class="fa fa-eye"></i>&nbsp&nbspWatch</h3>
                  <p>
                    Plays in Twitter's feed like any other YouTube video. 
                  </p>
                </div>
            </div>
        </div>
        <!-- Images -->
        <div class="row">
            <!-- Tweet -->
            <div class="col-lg-6 col-sm-6 hidden-xs text-center">
                <div class="service-box narrower">
                    <img src="../img/twittershare_ss.png" class="img-responsive"/> 
                </div>
                <h3 class="light text-left"> <i class="fa fa-user"></i>&nbsp&nbspFeed</h3>
                <div class="service-box narrower">
                    <img src="../img/twitterplay_ss.png" class="img-responsive"/> 
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 hidden-xs text-center">
                <div class="service-box narrower">
                    <img src="../img/twitterplay_ss2.png" class="img-responsive"/> 
                </div>
            </div>
        </div>
    </div>
</section>